USE [master]
GO
/****** Object:  Database [POLIZIA]    Script Date: 12/02/2021 12:31:17 ******/
CREATE DATABASE [POLIZIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POLIZIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POLIZIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POLIZIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POLIZIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POLIZIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POLIZIA]
GO
/****** Object:  Table [dbo].[Agente_di_polizia]    Script Date: 12/02/2021 12:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agente_di_polizia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](30) NOT NULL,
	[Cognome] [nvarchar](50) NOT NULL,
	[Codice_fiscalse] [nvarchar](16) NOT NULL,
	[Data_nascita] [date] NOT NULL,
	[Anni_servizio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codice_fiscalse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area_metropolitana]    Script Date: 12/02/2021 12:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area_metropolitana](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codice_area] [nvarchar](5) NOT NULL,
	[Alto_rischio] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assegnazione]    Script Date: 12/02/2021 12:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assegnazione](
	[ID_agente] [int] NOT NULL,
	[ID_area] [int] NOT NULL,
 CONSTRAINT [PK_Assegnazione] PRIMARY KEY CLUSTERED 
(
	[ID_agente] ASC,
	[ID_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assegnazione]  WITH CHECK ADD FOREIGN KEY([ID_agente])
REFERENCES [dbo].[Agente_di_polizia] ([ID])
GO
ALTER TABLE [dbo].[Assegnazione]  WITH CHECK ADD FOREIGN KEY([ID_area])
REFERENCES [dbo].[Area_metropolitana] ([ID])
GO
ALTER TABLE [dbo].[Agente_di_polizia]  WITH CHECK ADD  CONSTRAINT [CK_Data_Nascita] CHECK  (([Data_nascita]<'01-01-2003'))
GO
ALTER TABLE [dbo].[Agente_di_polizia] CHECK CONSTRAINT [CK_Data_Nascita]
GO
/****** Object:  StoredProcedure [dbo].[stpEliminaAgente]    Script Date: 12/02/2021 12:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stpEliminaAgente] @id INT
AS
BEGIN
		DELETE FROM Agente_di_polizia WHERE ID = @id
RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[stpInserisciAgente]    Script Date: 12/02/2021 12:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stpInserisciAgente] @nome NVARCHAR(30), @cognome NVARCHAR(50),@cf NVARCHAR(16),
									  @dataNat DATE, @anniServizio INT
AS
BEGIN
	BEGIN TRY
		INSERT INTO Agente_di_polizia VALUES(@nome,@cognome,@cf,@dataNat,@anniServizio)
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE()
	END CATCH
RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[stpNumeroAgentiPerArea]    Script Date: 12/02/2021 12:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stpNumeroAgentiPerArea]
AS
BEGIN
	SELECT Area_metropolitana.Codice_area, COUNT(Assegnazione.ID_agente) AS Numero_Agenti
	FROM Agente_di_polizia
	INNER JOIN Assegnazione
	ON Assegnazione.ID_agente=Agente_di_polizia.ID
	INNER JOIN Area_metropolitana
	ON Area_metropolitana.ID=Assegnazione.ID_area
	GROUP BY Area_metropolitana.Codice_area
RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[stpRischioAlto]    Script Date: 12/02/2021 12:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stpRischioAlto]
AS
BEGIN
	SELECT Agente_di_polizia.ID,Agente_di_polizia.Nome,Agente_di_polizia.Codice_fiscalse,Agente_di_polizia.Data_nascita,
	Agente_di_polizia.Anni_servizio, Area_metropolitana.Codice_area,Area_metropolitana.Alto_rischio
	FROM Agente_di_polizia
	INNER JOIN Assegnazione
	ON Assegnazione.ID_agente=Agente_di_polizia.ID
	INNER JOIN Area_metropolitana
	ON Area_metropolitana.ID=Assegnazione.ID_area
	WHERE Agente_di_polizia.Anni_servizio <3 AND Area_metropolitana.Alto_rischio = 1
RETURN 0;
END
GO
USE [master]
GO
